---
layout: default
body_class: page_template
comments: true
---
{% if page.image %}
<div id="feature_image">
  <div class="inner" style="background-image: url('/content/images/header.jpg')">
    <img src='/content/images/header.jpg'>
    </div>
</div>
{% endif %}

<article role="main" class="{% if page.image %}image{% endif %}">
  <header>
    <a href="{{ site.baseurl }}/" id="home_link">«</a>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="text">
      {{ content }}
  </div>
  <script id="dsq-count-scr" src="//yet-to-define.disqus.com/count.js" async></script>
  {% include footer.html %}
</article>

