---
layout: default
body_class: post-template
---
{% if page.image %}
<div id="feature_image">
    <div class="inner" style="background-image: url('{{ site.baseurl }}/content/images//{{ page.image }}')">
        <img src='{{ site.baseurl }}/content/images/{{ page.image }}'>
    </div>
</div>
{% endif %}

<article role="main" class="{% if page.image %}image{% endif %}">
    <header>
        <a href="{{ site.baseurl }}/" id="home_link">«</a>
        <div class="meta">
            <time datetime="{{ page.date | date:'%Y-%m-%d' }}"><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></time>
            <span class="count" id="js-reading-time">&nbsp;</span>
        </div>
        <a href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
    </header>

    <div class="text" id="js-post-content">
        {{ content }}
    </div>

    {% if page.comments != false %}
    {% include comments.html %}
    {% endif %}

</article>

{% include footer.html %}

<script>
    window.onload = function () {
        reading_time();
    }

    function get_text(el) {
        ret = "";
        var length = el.childNodes.length;
        for (var i = 0; i < length; i++) {
            var node = el.childNodes[i];
            if (node.nodeType !== 8) {
                ret += node.nodeType !== 1 ? node.nodeValue : get_text(node);
            }
        }
        return ret;
    }

    function reading_time() {
        var post_content = document.getElementById('js-post-content');
        if (post_content) {
            var words = get_text(post_content),
                count = words.split(/\s+/).length,
                read_time = Math.ceil((count / 150)),
                read_time_node = document.createTextNode(read_time + ' min read');
            document.getElementById('js-reading-time').appendChild(read_time_node);
        }
    }
</script>
